[submodule "git-package/lsp-bridge"]
	path = git-package/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "git-package/company-english-helper"]
	path = git-package/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "git-package/emacs-rime"]
	path = git-package/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "git-package/acm-terminal"]
	path = git-package/acm-terminal
	url = https://github.com/twlz0ne/acm-terminal.git
[submodule "git-package/popon"]
	path = git-package/popon
	url = https://codeberg.org/akib/emacs-popon.git
[submodule "git-package/modus-themes"]
	path = git-package/modus-themes
	url = https://gitlab.com/protesilaos/modus-themes.git
[submodule "git-package/ox-hugo"]
	path = git-package/ox-hugo
	url = https://github.com/kaushalmodi/ox-hugo.git
[submodule "git-package/wraplish"]
	path = git-package/wraplish
	url = https://github.com/manateelazycat/wraplish.git
[submodule "git-package/org-roam"]
	path = git-package/org-roam
	url = https://github.com/org-roam/org-roam.git
[submodule "git-package/evil"]
	path = git-package/evil
	url = https://github.com/emacs-evil/evil.git
[submodule "git-package/mastodon"]
	path = git-package/mastodon
	url = https://codeberg.org/martianh/mastodon.el.git
[submodule "git-package/emacs-request"]
	path = git-package/emacs-request
	url = https://github.com/tkf/emacs-request.git
[submodule "git-package/tp.el"]
	path = git-package/tp.el
	url = https://codeberg.org/martianh/tp.el.git
[submodule "git-package/nov"]
	path = git-package/nov
	url = https://depp.brause.cc/nov.el.git
[submodule "git-package/esxml"]
	path = git-package/esxml
	url = https://github.com/tali713/esxml.git
[submodule "git-package/dired-sidebar"]
	path = git-package/dired-sidebar
	url = https://github.com/jojojames/dired-sidebar.git
[submodule "git-package/org-modern"]
	path = git-package/org-modern
	url = https://github.com/minad/org-modern.git
