[submodule "git-package/lsp-bridge"]
	path = git-package/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "git-package/company-english-helper"]
	path = git-package/company-english-helper
	url = https://github.com/manateelazycat/company-english-helper.git
[submodule "git-package/emacs-rime"]
	path = git-package/emacs-rime
	url = https://github.com/DogLooksGood/emacs-rime
[submodule "git-package/acm-terminal"]
	path = git-package/acm-terminal
	url = https://github.com/twlz0ne/acm-terminal.git
[submodule "git-package/popon"]
	path = git-package/popon
	url = https://codeberg.org/akib/emacs-popon.git
