.org-id-locations
.python-environments
transient
elpa
recentf
eshell
.python-environments
session.*
\#*
*~
# ignore temp file
auto-save-list
url
*#
*.#
ac-comphist.dat
games
bookmarks
eln-cache
request
eww-bookmarks
